<div class="container text-center">
  <h1>About page</h1>
  <p>We are DevMatch. Launched by Arthur and Elina, Brazilians living in Shanghai.
  Our company focuses on creating an exclusive community 
  developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur 
  adipisicing elit. Distinctio aspernatur, eum, sed est explicabo fuga omnis 
  officiis illo id repellendus facere quisquam! Molestiae corrupti minima modi
  debitis blanditiis, quisquam consequatur.</p>
</div>